In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pymap3d as pm

In [2]:
df = pd.read_csv("/home/torsten/ms/citrus_data_set/04_13D_Jackal/gps0.csv")
df

,sec,nanosec,latitude,longitude,altitude,position_covariance,position_covariance_type
0,1689715534,226003885,33.962830,-117.345208,269.429265,[0.0049 0. 0. 0. 0.0049 0. 0. ...,1
1,1689715534,350774049,33.962830,-117.345208,269.426853,[0.0049 0. 0. 0. 0.0049 0. 0. ...,1
2,1689715534,424341917,33.962830,-117.345208,269.428900,[0.0049 0. 0. 0. 0.0049 0. 0. ...,1
3,1689715534,546204090,33.962830,-117.345208,269.426711,[0.0049 0. 0. 0. 0.0049 0. 0. ...,1
4,1689715534,623445987,33.962830,-117.345208,269.431173,[0.0049 0. 0. 0. 0.0049 0. 0. ...,1
...,...,...,...,...,...,...,...
5107,1689716044,891721963,33.962792,-117.345484,269.339653,[0.0049 0. 0. 0. 0.0049 0. 0. ...,1
5108,1689716044,986005067,33.962791,-117.345484,269.327129,[0.0049 0. 0. 0. 0.0049 0. 0. ...,1
5109,1689716045,109690904,33.962790,-117.345484,269.268857,[0.0049 0. 0. 0. 0.0049 0. 0. ...,1
5110,1689716045,191560029,33.962789,-117.345485,269.295819,[0.0049 0. 0. 0. 0.0049 0. 0. ...,1
5111,1689716045,289722919,33.962787,-117.345485,269.301577,[0.0049 0. 0. 0. 0.0049 0. 0. ...,1

In [3]:
%matplotlib tk
plt.figure()
ts = (df.iloc[:, 0] * 1000) + (df.iloc[:, 1] // 1_000_000)
plt.plot(np.diff(ts))
plt.show()

In [4]:
%matplotlib tk
lat0 = df.iloc[0, 2]
lon0 = df.iloc[0, 3]
h0 = df.iloc[0, 4]

plt.figure()
plt.title("GNSS / GPS")
plt.axis('equal')
plt.grid()
for index, row in df.iterrows():
    if index % 5 != 0:
        continue
    enu = pm.geodetic2enu(row["latitude"], row["longitude"], row["altitude"], lat0, lon0, h0)
    plt.plot(enu[0], enu[1], "bx-")
    #plt.errorbar(enu[0], enu[1], row["h_acc"], row["h_acc"])

In [5]:
for index, row in df.iterrows():
    print(row["lon"], row["lat"], 0, sep=",", end=" ")

KeyError: 'lon'