# Plot fast-lio

In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [15]:
df = pd.read_csv("/home/torsten/ms/results/fastlio.csv")
df

             sec    nanosec              x            y              z
0     1695990722   54100275       0.003659    -0.019591       0.000851
1     1695990722  154200315       0.004906    -0.019100       0.000904
2     1695990722  254263401       0.003259    -0.020195       0.000954
3     1695990722  354359150       0.005473    -0.020865       0.000957
4     1695990722  454457521       0.003704    -0.021702       0.000947
...          ...        ...            ...          ...            ...
3040  1695991026  314336061  114915.221776  1645.529945 -139497.738115
3041  1695991026  414422035  115040.816703  1672.979096 -139664.618285
3042  1695991026  514497519  115166.527430  1700.493433 -139831.509704
3043  1695991026  614599943  115292.408271  1728.075222 -139998.478849
3044  1695991026  714666128  115418.372958  1755.712501 -140165.417871

[3045 rows x 5 columns]

In [16]:
%matplotlib tk

plt.figure()
plt.axis('equal')
plt.grid()
plt.plot(df.iloc[:2000, 2].values, df.iloc[:2000, 3], "-x")